.app {
  display: flex;
  flex-direction: column;
}

/*
Show the element in the center of the screen
*/
.decimal-integer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3em;
  margin: 3em 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell-button {
  padding: 0.5em;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.game-over {
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
